.header {
  padding-left: 27px;
  padding-bottom: 31px;
  box-shadow: 0px 1px 0px 0px rgba(84, 84, 84, 0.7);
  width: 100%;
}

@media screen and (min-width: 760px) {
  .header {
    padding-left: 0;
    padding-bottom: 41px;
    max-width: 880px;
  }
}
