.profile__edit-btn {
  border: 1px solid #fff;
  min-width: 18px;
  aspect-ratio: 1/1;
  background-color: black;
  background-image: url(../../../images/logo/edit_btn.svg);
  background-size: cover;
  margin-left: 10px;
  transition: opacity .3s ease-in;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media screen and (min-width: 800px) {
  .profile__edit-btn {
    min-width: 24px;
    margin-left: 18px;
  }
}
