.edit-profile__container {
  font-family: 'Inter', 'Arial',  sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 25px 22px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  max-width: 430px;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .edit-profile__container{
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 34px;
    padding-bottom: 37px;
  }
}
